build
.gradle
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.settings
.classpath
.project
.recommenders
.metadata
target
bin
AUTHORS
# integration test
config.yaml
test_config.yaml

.idea/
*.iml
dependency-reduced-pom.xml
lombok.config
