[submodule "specs/qingstor"]
	path = specs/qingstor
	url = https://github.com/yunify/qingstor-api-specs.git
[submodule "tests/features"]
	path = tests/features
	url = https://github.com/yunify/qingstor-sdk-test-scenarios.git
