# QingStor services configuration

access_key_id: 'ACCESS_KEY_ID'
secret_access_key: 'SECRET_ACCESS_KEY'

host: qingstor.com
port: 443
protocol: https

# Valid request url styles are "virtual_host_style" and "path_style"(default).
enable_virtual_host_style: false

# Additional User-Agent
additional_user_agent: "test/integration"
